.sh-background {
    position: relative;
    z-index: -1;
}
.sh-page {
    position: absolute;
    margin-top: 40%;
    margin-left: 20%;
    font-size: 25px;
    font-weight: bold;
    font-family: Gabriola;
    
}
.sh-image {
    position: absolute;
    margin-left: 20%;
    margin-top: 30%;
    clear: both;
    display: table;
    filter: drop-shadow(9px 10px 20px);
    
    
}
.Column {
    float: left;
    width: 33%;
    padding: -100px;
}   
