.sh-background {
    position: relative;
    z-index: -1;
}
.sh-page {
    position: absolute;
    margin-top: 20%;
    margin-left: 20%;
    
}
.sh-image {
    position: absolute;
    margin-left: 35%;
    content: "";
    clear: both;
    display: table;
    
}
.Column {
    float: left;
    width: 33.33%;
    padding: 5px;
}   
