.sh-background {
    position: relative;
    z-index: -1;
}
.sh-page {
    position: absolute;
    margin-top: 20%;
    margin-left: 20%;
    font-size: 50px;
    
}
.sh-image {
    position: absolute;
    margin-left: 15%;
    margin-top: -20%;
    clear: both;
    display: table;
    text-shadow: 2px 2px;
    
    
}
.Column {
    float: left;
    width: 33%;
    padding: -100px;
}   
